/* --------- */
/*Social Link */
/* --------- */

.check-resume {
  font-weight: bold;
}

@media (max-width: 768px) {
  .check-resume {
    font-weight: bold;
    margin-top: 10%;
    background-color: #0b66c2;
  }
}
/* --------- */
/* Home Page */
/* --------- */

.home-section {
  display: flex;
  margin-top: 8rem;
  margin-bottom: 1.1rem;
  justify-content: center;
}
.home-row {
  justify-content: center;
}
.home-header {
  margin-top: 5rem !important;
}

.heading {
  color: aliceblue;
  font-size: 2rem !important;
  font-family: "Gill Sans bold";
}
.heading-name {
  color: aliceblue;
  font-size: 2rem !important;
  font-family: "Gill Sans bold";
}

.main-name {
  font-family: "Gill Sans Extrabold";
  color: aliceblue;
  font-size: 2rem !important;
}
.Typewriter__wrapper {
  font-family: "Gill Sans";
  font-size: 1.8rem !important;
  color: rgb(255, 153, 0) !important;
}

.Typewriter__cursor {
  font-size: 1.8rem !important;
  color: rgb(255, 153, 0) !important;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}
.lottie-style {
  margin-left: 6rem;
}

@media (max-width: 768px) {
  .home-section {
    margin-top: 0rem;
    justify-content: center;
  }
  .home-row {
    flex-direction: column;
  }

  .home-header {
    margin-top: 1rem !important;
  }

  .lottie-style {
    margin-left: 0rem;
  }

  .heading {
    font-size: 1.2rem !important;
  }
  .heading-name {
    font-size: 1.2rem !important;
  }
  .main-name {
    font-size: 1.2rem !important;
  }
  .Typewriter__wrapper {
    font-size: 1.2rem !important;
  }

  .Typewriter__cursor {
    font-size: 1.2rem !important;
  }
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.myAvtar {
  justify-content: center !important;
  padding-top: 9em !important;
  align-self: center;
}
.scrollDownText {
  position: absolute;
  text-align: center;
  padding-top: 70vh;
  font-family: "Nanum Pen Script", "cursive";
  font-size: 23px;
}

.bouncing-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bouncing-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  animation: bounce 1s infinite ease-in-out;
  cursor: pointer;
}

.bouncing-arrow i {
  color: aliceblue;
  font-size: 24px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.img-fluid {
  margin-left: 10%;
}
@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
  .img-fluid {
    margin-left: 20%;
  }
}
.blue {
  color: #ff9900;
  font-weight: bold;
}
.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-left: 5rem !important;
}
.home-about-description {
  color: white !important;
  padding-bottom: 20px !important;
  text-align: center;
}
.home-about-body {
  font-size: 1.2em !important;
  color: aliceblue;
  text-align: left;
  padding-top: 50px;
  width: 50rem;
  font-family: "Gill Sans";
}
.h1 {
  font-size: 1.5rem;
  font-family: "Gill Sans bold";
  color: aliceblue;
  text-align: center;
  padding-bottom: 2rem;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .home-about-body {
    font-size: 1em !important;
    padding-top: 30px;
    width: 100%;
  }
  .h1 {
    font-size: 1.2rem;
  }
  .home-about-section {
    position: relative;
    padding-bottom: 70px !important;
    padding-left: 1rem !important;
  }
}

@media screen and (max-width: 576px) {
  .home-about-body {
    font-size: 0.8em !important;
    padding-top: 20px;
  }
  .h1 {
    font-size: 1rem;
  }
  .home-about-section {
    position: relative;
    padding-bottom: 70px !important;
    padding-left: 1rem !important;
  }
}

.subh1 {
  font-size: 1.2rem;
  font-family: "Gill Sans bold";
  color: aliceblue;
  text-align: center;
}

.icon-size {
  margin: auto;
}

/* --------- */
/* About Page */
/* --------- */
.about-section-2 {
  position: relative;
  justify-content: center;
  padding-bottom: 70px !important;
}

.about-section {
  display: flex;
  margin-top: 8rem;
  margin-bottom: 1.1rem;
  justify-content: center;
}
.about-row {
  justify-content: center;
}
.about-header {
  margin-top: 2rem !important;
  text-align: center;
}
.header-tag {
  font-size: 1.5rem;
  font-family: "Gill Sans bold";
  color: aliceblue;
  text-align: center;
  padding-bottom: 2rem;
  text-decoration: underline;
}
.about_heading {
  color: aliceblue;
  font-size: 2rem !important;
  font-family: "Gill Sans bold";
}
.about_heading-name {
  text-align: left;
  margin-top: 2rem !important;
  color: aliceblue;
  font-size: 1.2rem !important;
  font-family: "Gill Sans bold";
}

.about_main-name {
  font-family: "Gill Sans Extrabold";
  color: #ff9900;
  font-size: 1.2rem !important;
}
.about-image {
  width: 30rem;
  height: 30rem;
}
.about-activity {
  text-align: left;
  font-family: "Gill Sans Extrabold";
  color: aliceblue;
  font-size: 1.2rem !important;
  list-style: none !important;
}
.details-section {
  align-self: center;
  align-content: center;
  margin-bottom: 6rem;
  justify-content: center;
}
.card-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2px;
}
.icon-overlay {
  display: flex;
  width: 60px;
  height: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
}
.card-size {
  width: 35rem;
  height: 30rem;
}
.icon-size {
  height: 2rem;
  width: 2rem;
}
@media screen and (max-width: 768px) {
  .about-section {
    margin-top: 4rem;
  }
  .about-header {
    margin-top: 2rem !important;
    text-align: center;
    margin-bottom: -40%;
  }

  .about_heading {
    font-size: 1rem !important;
  }

  .about_heading-name {
    font-size: 1rem !important;
  }

  .about_main-name {
    font-size: 1rem !important;
  }

  .about-activity {
    font-size: 0.8rem !important;
  }
  .card {
    width: 10%;
    height: auto;
  }
  .card-body {
    font-size: xx-small;
  }
  .about-img-col {
    text-align: center;
  }
  .about-image {
    width: auto;
    height: 15rem;
  }
  .card-size {
    width: 100%;
    height: auto;
  }
  .icon-overlay {
    width: 40px;
    height: 40px;
  }
  .icon-size {
    height: 1.5rem;
    width: 1.5rem;
  }
}
/* @media screen and (max-width: 576px) {
  
  .about-image {
    margin-top: -10rem;
    margin-left: 20%;
    width: 10rem;
    height: 10rem;
  }
} */

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(2, 0, 36, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b66c2;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d9bf0;
  border-radius: 12px;
}
/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: rgb(2, 0, 36);
  bottom: 0;
  padding-top: 10px !important;
  padding-bottom: 10px !important ;
}
.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}

/* --------- */
/*Resume   */
/* --------- */

.mt-4 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.main_card {
  width: 22rem;
  text-align: center;
  font-family: "Gill Sans Extrabold";
  /* position: fixed; */
}
.second-card {
  text-align: center;
  height: auto;
  width: auto;
}

@media (max-width: 767px) {
  .card-container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  .main_card {
    width: 93.5%;
    height: auto;
    position: relative;
  }
  .second-card {
    margin-top: 26rem;
    height: auto;
    width: auto;
    margin-bottom: -2.5rem;
  }
}
.dropdown {
  list-style: none;
}
.drawer-icon {
  font-size: 1.5em;
  color: rgb(240, 248, 255);
}
.dropdown-toggle::before {
  display: none;
}
.dropdown-toggle::after {
  display: none;
}
.rounded-circle {
  border-radius: 50% !important;
  align-self: center;
  margin-top: 0.5rem;
  width: 150px;
  height: 150px;
}
.title_text {
  text-align: left;
  font-family: "Gill Sans";
}
.role {
  font-weight: bold;
  font-family: "Gill Sans";
}
.company {
  color: black;
}
.left-align {
  text-align: left;
  font-family: "Gill Sans";
}
.font-small {
  font-size: 1rem;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.clear-margin {
  margin: 0;
}
.label-keyword {
  display: inline-block;
  font-family: "Gill Sans";
  margin-top: 0.5rem;
  background: #7eb0db;
  color: white;
  font-size: 0.9em;
  padding: 5px;
  border: 1px solid #357ebd;
  height: 2rem;
  font-weight: 600;
  border-radius: 0.25em;
  margin-left: 0.5rem;
}

@media (max-width: 767px) {
  .card_one {
    width: 10rem;
  }
  .rounded-circle {
    border-radius: 50% !important;
    align-self: center;
    width: 60px;
    height: 60px;
  }
}
/* --------- */
/* Project Page */
/* --------- */

.project-section {
  display: flex;
  margin-top: 8rem;
  margin-bottom: 10.1rem;
  justify-content: center;
}

.floating-nav-trigger {
  position: fixed;
  bottom: 20px; /* adjust as needed */
  right: 20px; /* adjust as needed */
  z-index: 999; /* make sure it's above other content */
}

.project-title {
  text-align: center;
  margin-top: 1rem;
  text-decoration: underline;
}

.project-title1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
